<!DOCTYPE html>
<html lang="ko">
    <head>

    </head>
    <body>
        <header>
            <h1>로고</h1>
            <div>
                <p>메뉴들</p>
            </div>
        </header>
        <main>
            <div>
                <button>내가 한 질문 보기</button>
                <button>내가 한 대답 보기</button>
                <button>저장한 질의응답 보기</button>
            </div>
            <div>
                <p>리스트 출력</p>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>