<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/history-style.css">
    <title>Unmute-myProfile</title>
</head>

<body>
    <header>
        <img src="../static/image/logo.png">
    </header>
    <main>
        <div class="status-bar">
            <p><b><span id="action-text"></span></b> {{day}} 일 째</p>
            <button>메인화면</button>
            <button>로그아웃</button>
        </div>
        <div class="history-box">
            <div id="button-box">
                <button id="my-question" class="tab-button selected">나의 질문 보기</button>
                <label>리스트 레이아웃<input type="radio" name="layout" value="list-layout" checked></label>
                <label>그리드 레이아웃<input type="radio" name="layout" value="card-layout"></label>
                <button>이전</button>
                <button>다음</button>
            </div>
            <div id="content-box">
                <div id="content-output">
                    
                </div>
            </div>
        </div>
        <div class="my-profile">
            <p>{{name}}</p>
            <div class="my-category">
                <p>내가 가장 많이 질문한 분야</p>
                <ul>
                    <li>카테고리1</li>
                    <li>카테고리2</li>
                    <li>카테고리1</li>
                    <li>카테고리2</li>
                    <li>카테고리1</li>
                    <li>카테고리2</li>
                </ul>
            </div>
            <div class="my-question">
                <p>나의 질문 개수</p>
                <p>해결한 개수</p>
                <p>저장한 질문 개수</p>
            </div>
        </div>
    </main>
    <footer>
        <div id="menu">
            <p><a href="">사이트 이용 정보</a></p>
        </div>
        <div id="mention">
            <p>powerd by Mistral AI</p>
            <a href="https://mistral.ai/"><img src="https://upload.wikimedia.org/wikipedia/de/1/1c/Mistral_AI_logo.svg"
                    width="60"></a>
        </div>
        <div id="info">
            <p>경기대학교 team JAMES</p>
            <p>github @ <a href="https://www.github.com/dasfaf4464/JAMES" target="_blank">dasfaf4464/JAMES</a></p>
        </div>
        <script src="../static/js/history.js"></script>
    </footer>
</body>

</html>