<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/home-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
        <title>경쾌(임시)</title>
    </head>
    <body>
        <header>
            <h1>로고</h1>
        </header>
        <main>
            <div class="session-list">
                <ul>
                    <li>session1</li>
                    <li>session2</li>
                    <li>session1</li>
                    <li>session2</li>
                    <li>session1</li>
                    <li>session2</li>
                    <li>session1</li>
                    <li>session2</li>
                    <li>session1</li>
                    <li>session2</li>
                </ul>
            </div>
            <div class="greeting">
                <p1>... 님 안녕하세요!</p1>
            </div>
            <div class="interaction">
                <div id="buttons">
                    <div id="session-button">
                        <button id="into-session">Ask Questions Right now!</button>
                        <button id="make-session">Create a Session</button>
                    </div>
                </div>
            </div>
            <div class="history">
                <ol>
                    <li>질문한 횟수 1</li>
                    <li>대답한 횟수 1</li>
                    <li>저장한? 좋아요? 공감? 1</li>
                </oi>
            </div>
        </main>
        <footer>
            <div id="menu">
                <p>대충 메뉴1</p>
            </div>
            <div id="mention">
                <p>사용된 프로그램 출처표기</p>
            </div>
            <div id="info">
                <p>만든사람 정보</p>
            </div>
        </footer>
    </body>

</html>