<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">

    <title>UnMute</title>
</head>

<body>
    <header>
        <img src="../static/image/logo.png">
        <button id="nav-toggle">☰</button>
        <div class="nav-buttons" id="nav-menu">
            <button id="history-button">기록 화면</button>
            <button id="logout-button">로그아웃</button>
        </div>
    </header>
    <main>
        <div class="session-list">
            <button id="toggle-panel-button">☰</button>
            <ul class="session-group">
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">임시</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">영구</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">임시</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">영구</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">임시</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">영구</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">임시</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
                <li class="session-group-item">
                    <p id="session-title">세션 제목</p>
                    <p id="session-info">현재 입장 인원: <br>질문 수:</p>
                    <p id="session-period">영구</p>
                    <img id="session-icon" src="../static/image/computer.svg">
                </li>
            </ul>
            <div class="page-num">
                <button id="frontB">◀</button>
                <button id="backB">▶</button>
            </div>
        </div>
        <div class="side-panel">
            <div class="greeting">
                <h1>My histroy</h1>
                <p>{{name}}, 안녕하세요!</p>
            </div>
            <div class="history">
                <canvas id="visit-calendar"></canvas>
                <ul>
                    <li>질문한 횟수 : {{list.question}}</li>
                    <li>대답한 횟수 : {{list.answer}}</li>
                </ul>
            </div>
            <form>
                <label>아직 세션이 없으신가요?</label>
                <button id="create-session-button">세션 만들기</button>
                <label>새로운 세션에 참여하세요</label>
                <button id="into-session-button">코드로 세션 입장</button>
                <input id="session-code" class="form-control rounded" type="text" required placeholder="세션 코드 입력">
            </form>
        </div>
        <div id="sessionModal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="closeModal">&times;</span>
                <h2>새 세션 만들기</h2>
                <input type="text" id="sessionTitleInput" class="form-control rounded" placeholder="세션 제목을 입력하세요">
                <input type="text" id="sessionexplain" class="form-control rounded" placeholder="세션 설명을 입력하세요">
                <br>
                <div class="radio-group">
                <label><input type="radio" name="chk_info" value="임시">임시</label>
                <label><input type="radio" name="chk_info" value="영구">영구</label>
                </div>
                <button id="submitSessionBtn" class="create-session rounded">생성하기</button>
            </div>
        </div>
    </main>
    <footer>
        <div id="menu">
            <p><a href="">사이트 이용 정보</a></p>
        </div>
        <div id="mention">
            <p>powerd by Mistral AI</p>
            <a href="https://mistral.ai/"><img src="https://upload.wikimedia.org/wikipedia/de/1/1c/Mistral_AI_logo.svg"
                    width="60"></a>
        </div>
        <div id="info">
            <p>경기대학교 team JAMES</p>
            <p>github @ <a href="https://www.github.com/dasfaf4464/JAMES" target="_blank">dasfaf4464/JAMES</a></p>
        </div>
    </footer>
    <script src="../static/js/home.js"></script>
</body>

</html>