<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <link rel="stylesheet" href="../static/css/index-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
        <title>UnMute</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="main-image">
                <img src="../static/image/main.png">
            </div>
            <div class="interaction">
                <img src="../static/image/logo.png">
                <form id="login" action="/login" method="POST">
                    <input id="username" type="text" required placeholder="아이디 입력">
                    <input id="password" type="password" required placeholder="비밀번호 입력">
                    <button id="login-button" onclick="login()">로그인</button>
                </form>
                <div id="register">
                    <p>혹시 <span>회원</span>이 아닙니까?</p>
                    <button id="register-button">회원가입</button>
                </div>
                <p>로그인 없이 사용하기</p>
                <button id='create-session-button'>세션 생성하기</button>
                <form id="session" action="/session-without-login" method="POST">
                    <button id="into-session-button">코드로 세션 입장</button>
                    <input id="session-code" type="text" required placeholder="세션 코드 입력">
                </form>
            </div>
        </main>
        <footer>
            <div id="menu">
                <p><a href="">사이트 이용 정보</a></p>
            </div>
            <div id="mention">
                <p>powerd by Mistral AI</p>
                <a href="https://mistral.ai/"><img src="https://upload.wikimedia.org/wikipedia/de/1/1c/Mistral_AI_logo.svg" width="60"></a>
            </div>
            <div id="info">
                <p>경기대학교 team JAMES</p>
                <p>github @ <a href="https://www.github.com/dasfaf4464/JAMES" target="_blank">dasfaf4464/JAMES</a></p>
            </div>
        </footer>
        <script src="../static/js/login.js"></script>
    </body>
</html>