<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>로고</h1>
        </header>
        <main>
            <p>사용할 이름</p>
            <input type="text">
            <p>ID(사용가능한 이메일)</p>
            <input type="text">@<input type="text">
            <p>비밀번호</p>
            <input type="text">
            <p>인증번호</p>
            <input type="number"> <button>Sign up</button>
        </main>
        <footer>

        </footer>
    </body>
</html>