:root {
    --main-theme-background: #FFF5EF;
    --main-theme-emphasize: #ff9f1a;
    --main-theme-font: #6a6a6a;
    --main-sessiontitle-font: #ffA221;
    --main-button-normal: #FFA323;
    --main-button-emphasize: #f0801F;
    --history-button-1: #d08721;
    --history-button-2: #bd7a1e;
}