:root {
    --kgu-orange: #F29601;
    --kgu-red: #E95504;
    --kgu-green: #00A051;
    --kgu-blue: #004EA2;
    --kgu-light-gray: #f7f9fc;
    --kgu-dark-gray: #333;
    --kgu-light-blue: #66a3e3;
}