@import url('colorset.css');body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--main-theme-background);
}

header{
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

header img {
    height: 8%;
    width: 8%;
    height: auto;
    object-fit: contain;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

#button-box {
    display: flex;
}

.history-box {
    margin-top: auto; /* 위 공간을 밀어내 하단 정렬 효과 */
}

#button-box button {
    border-radius: 10px 10px 0px 0px;
    border: none;
    box-shadow: inset 0px 0px 0px 0px;
}

#my-question {
    background-color: var(--main-button-normal);
}

#my-answer {
    background-color: var(--history-button-1);
}

#saving {
    background-color: var(--history-button-2);
}

#my-profile {
    background-color: salmon;
}

#content-box {
    padding: 15px;
    background-color: var(--main-button-normal);
}

#content-output{
    background-color: #ffffff;
}

#content-output ol{
    list-style: none;
}

.form-control {
    display: flex;
    width: 100%;
    max-width: 400px;
}

footer {
    flex: 0 0 10%;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 5px 0;
}
