@import url('colorset.css');

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-theme-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-theme-background);
}

header img {
    height: 8%;
    width: 8%;
    height: auto;
    object-fit: contain;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
}

.status-bar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    font-size: large;
}

.status-bar button {
    background-color: var(--main-button-normal);
    border: none;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

#check-myquestion {
    padding: 0px;
    margin-left: 10px;
    font-size: 20px;
}

#layout-button {
    background-color: var(--main-button-normal);
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    width: 140px;
}

.myQuestionContainer.list-view ul {
    display: block;
}

.myQuestionContainer.list-view li {
    display: block;
    margin-bottom: 8px;
}

.myQuestionContainer.grid-view ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    gap: 12px;
}

.myQuestionContainer.grid-view li {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.myQuestionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.myQuestionContainer::-webkit-scrollbar {
    display: none;
}

.myQuestionContainer ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    margin: 10px;
    gap: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.myQuestionContainer li {
    background-color: #f0f0f0;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    color: #333;
}

.myQuestionContainer ul::-webkit-scrollbar {
    display: none;
}

footer {
    flex: 0 0 10%;
    display: flex;
    justify-content: space-between;
    background-color: #FFEBE0;
    padding: 1rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {

    header img {
        width: 30%;
    }

    main {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        font-size: 0.8rem;
        align-items: center;
        text-align: center;
    }

    .myQuestionContainer.grid-view ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;
    }

}