@import url(colorset.css);

body {
    font-family: 'Sansita', sans-serif;
    margin: 0;
    background-color: var(--main-theme-background);
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
}

.session-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--main-theme-background);
}

.session-list img {
    width: 100px;
    height: auto;
}

.session-list ul {
    list-style: none;
}

.session-list ul li {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 10px;
}

#session-title {
    flex: 3;
    color: var(--main-sessiontitle-font);
}

#session-info {
    flex: 1;
}

#session-icon {
    width: auto;
    height: 50px;
}

.side-panel {
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history ul {
    list-style: none;
}

.side-panel form {
    display: flex;
    flex-direction: column;
}

#create-session-button {
    background-color: var(--main-button-normal);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#create-session-button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

#into-session-button {
    background-color: var(--main-button-normal);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#into-session-button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

#session-code::placeholder {
    text-align: center;
}

#session-discription {
    word-break: keep-all;
}

#join-session {
    background-color: var(--main-button-normal);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#join-session:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

#exit-session {
    background-color: var(--main-button-emphasize);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#exit-session:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 0.9rem;
}