@import url(colorset.css);

body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: var(--main-theme-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

header img {
    height: 8%;
    width: 8%;
    height: auto;
    object-fit: contain;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.idEx {
    font-size: 14px;
}

p {
 text-align: left;
 color: lightgray;
}

#create-name-button {
    background-color: var(--main-button-emphasize);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#create-name-button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

#register-button {
    background-color: var(--main-button-normal);
    color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#create-name-button:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

footer {
    flex: 0 0 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 0.9rem;
}
