@import url('colorset.css');

body {
    margin: 0;
    font-family: 'Sansita', sans-serif;
    background-color: var(--main-theme-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

header img {
    width: 7%;
    height: auto;
    object-fit: contain;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    justify-content: stretch;
}

#board {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: space-between;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chat-form {
    padding: 1rem;
}

.questionBar {
    display: flex;
    gap: 5px;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    margin-left: 0;
}

#QBar {
    flex: 1;
    min-width: 200px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.questionButton {
    background-color: var(--main-button-normal);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
}

#right-panel {
    float: right;
    background-color: var(--main-theme-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}